{
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "arrowParens": "avoid",
        "semi": false,
        "singleQuote": true,
        "bracketSpacing": true
      }
    }
  ]
}