<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
{% if site.gaTagId and eleventy.env.runMode != 'serve' %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.gaTagId }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.gaTagId }}');
</script>
{% endif %}
    {% include 'head.html' %}
  </head>
  <body>
    <nav class="logo-button">
      <a href="{{ '/' | url }}" class="page-header__logo" title="Inicio">
        <img
          class="light-theme"
          src="{{ '/assets/logo-light.png' | url }}"
          alt="Logo Inicio"
        />
        <img
          class="dark-theme"
          src="{{ '/assets/logo-dark.png' | url }}"
          alt="Logo Inicio"
        />
      </a>
    </nav>

    <nav class="site-menu">
      <a href="{{ '/bitacora' | url }}">Blog</a>
      <a href="{{ '/notas' | url }}">Notas</a>
      <a href="{{ '/notas/Proyecto Matrioska' | url }}">Acerca de</a>
    </nav>

    {{content}}

    <script>
      <!--
      const PAGE_URL = "{{ page.url }}".slice(0, -1);
      const ASSETS_PREFIX = "{{ '/assets' | url }}";
      -->
    </script>
    <script src="{{ '/assets/js/lib/force-graph.1.43.2.min.js' | url }}"></script>
    <script src="{{ '/assets/js/lib/excalidraw-utils.0.1.2.min.js' | url }}"></script>
    <script src="{{ '/assets/js/note-graph.js' | url }}"></script>
    <script src="{{ '/assets/js/transclude-excalidraw.js' | url }}"></script>
  </body>
</html>
